<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/cinema?serverTimezone=UTC</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.username">root</property>
        <property name="connection.password">rootPassword</property>
        <property name="show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">create-drop</property>

        <mapping class="cinema.app.model.CinemaHall"/>
        <mapping class="cinema.app.model.Movie"/>
        <mapping class="cinema.app.model.MovieSession"/>
        <mapping class="cinema.app.model.User"/>
        <mapping class="cinema.app.model.Ticket"/>
        <mapping class="cinema.app.model.ShoppingCart"/>
        <mapping class="cinema.app.model.Order"/>
    </session-factory>
</hibernate-configuration>
